{
  "openapi": "3.1.0",
  "info": {
    "title": "bot-api-v3",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.app.lithium.com/bots/v3"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/control/network/{networkKey}/externalId/{externalId}/author/{authorId}": {
      "get": {
        "summary": "Get entity currently controlling conversation by author and network",
        "description": "Return which entity (agent or bot) has current control of the conversation associated with the specified author on the specified network.",
        "operationId": "controlnetworknetworkkeyexternalidexternalidauthorauthorid-get",
        "parameters": [
          {
            "name": "networkKey",
            "in": "path",
            "description": "The social network for the registration. Must match the `network` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the bot on the social network. Must match the `externalId field` of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "authorId",
            "in": "path",
            "description": "The author ID. Find the author ID from the [Author object](ref:author-object) included in all messages.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{  \n  \"data\":{  \n    \"author\":{  \n      \"id\":\"authorId\",\n      \"fullName\":\"author name\"\n    },\n    \"coordinate\":{  \n      \"companyKey\":\"some-company\",\n      \"networkKey\":\"some-network\",\n      \"externalId\":\"external-id\"\n    },\n    \"owner\":{  \n      \"type\":\"BOT\",\n      \"appId\":\"foobar-bot\"\n    },\n    \"lastUpdatedTS\":1540501501979,\n    \"type\":\"control\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "author": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "authorId"
                            },
                            "fullName": {
                              "type": "string",
                              "example": "author name"
                            }
                          }
                        },
                        "coordinate": {
                          "type": "object",
                          "properties": {
                            "companyKey": {
                              "type": "string",
                              "example": "some-company"
                            },
                            "networkKey": {
                              "type": "string",
                              "example": "some-network"
                            },
                            "externalId": {
                              "type": "string",
                              "example": "external-id"
                            }
                          }
                        },
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "BOT"
                            },
                            "appId": {
                              "type": "string",
                              "example": "foobar-bot"
                            }
                          }
                        },
                        "lastUpdatedTS": {
                          "type": "integer",
                          "example": 1540501501979,
                          "default": 0
                        },
                        "type": {
                          "type": "string",
                          "example": "control"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  https://api.app.lithium.com/bots/v3/control/network/apple/externalId/117101b2-e66a-11e7-86ec-b1a405106b73/author/urn:mbid \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/health/appId/{appId}": {
      "get": {
        "summary": "Get bot health status by app ID",
        "description": "Get the health status of a bot using the Automation Framework",
        "operationId": "healthappidappid",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The bot identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{  \n  \"data\":[  \n    {  \n      \"status\":\"DEGRADED\",\n      \"failureCount\":2,\n      \"successCount\":23\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "example": "DEGRADED"
                          },
                          "failureCount": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "successCount": {
                            "type": "integer",
                            "example": 23,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  \"https://api.app.lithium.com/bots/v3/health/appId/mybot\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/registrations": {
      "get": {
        "summary": "Get registrations using valid JWT token",
        "description": "Get all registrations using any valid JWT token",
        "operationId": "botsv3registrations",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"platform\": \"LITHIUM\",\n            \"companyKey\": \"<company key>\",\n            \"networkKey\": \"apple\",\n            \"networkInstance\": \"www.apple.com\",\n            \"externalId\": \"appleExternalId\",\n            \"appId\": \"my-apple-bot\",\n            \"name\": \"My Apple bot\",\n            \"callbackUrl\": \"<callback URL>\",\n            \"mode\": \"LIVE\",\n            \"credentials\": {\n                \"type\": \"BASIC_AUTH\",\n                \"identity\": \"username\",\n                \"secret\": \"password\"\n            }, ...\n    ],\n    \"requestId\": \"8d6b6437-2632-4e89-b24c-53e4e0887b7f\"\n}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"error\": { \n    \"message\": \"Unauthorized\", \n    \"requestId\": \"e9ea518b-c84e-4c22-8f64-a01e04bd28cb\" \n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Unauthorized"
                        },
                        "requestId": {
                          "type": "string",
                          "example": "e9ea518b-c84e-4c22-8f64-a01e04bd28cb"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \\\n  https://api.app.lithium.com/bots/v3/registrations \\\n  -H 'Authorization: Bearer <JWT TOKEN>' \\"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "post": {
        "summary": "Register bot with Khoros Care and the Automation Framework",
        "description": "Register a bot with Khoros Care and the Automation Framework",
        "operationId": "registrations-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Path to a Registration payload. See [Registration payload](ref:registration-payload) for details.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 422 Unprocessable Entity\n{\n  \"errors\": [\n    \"callbackUrl may not be empty\",\n    \"credentials.secret may not be empty\"\n  ]\n}\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl POST \\\n  https://api.app.lithium.com/bots/v3/registrations \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "Edit bot registration",
        "description": "Edit a bot registration for a bot registered with the Automation Framework",
        "operationId": "registrations-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Path to a Registration payload. See [Registration payload](ref:registration-payload) for details.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    \"callbackUrl may not be empty\",\n    \"credentials.secret may not be empty\"\n  ]\n}\n\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "callbackUrl may not be empty"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/registrations \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/registrations/network/{networkKey}/externalId/{externalId}": {
      "get": {
        "summary": "Get bot registrations by source channel",
        "description": "Retrieve all bot registrations registered with the Automation Framework for the specified source channel",
        "operationId": "registrationsnetworknetworkkeyexternalidexternalid-get",
        "parameters": [
          {
            "name": "networkKey",
            "in": "path",
            "description": "The source network for the registration. Must match the `network` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the bot on the network. Must match the `externalId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 404 Not Found\n{\n\t\"error\": {\n\t\t\"message\": \"No bot registration found\"\n\t}\n}\n"
                  }
                }
              }
            }
          },
          "2XX": {
            "description": "2XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 200 OK\n{  \n  \"data\":[  \n    {  \n      \"platform\":\"LITHIUM\",\n      \"companyKey\":\"...\",\n      \"networkKey\":\"facebook\",\n      \"networkInstance\":\"www.facebook.com\",\n      \"externalId\":\"...\",\n      \"appId\":\"my-bot\",\n      \"name\":\"simple bot\",\n      \"callbackUrl\":\"https://www.example.com/bot\",\n      \"mode\":\"LIVE\",\n      \"publicFilter\":{  \n        \"includeTargeted\":true,\n        \"includeSourceTagIds\":[  \n          999,\n          1002\n        ]\n      },\n      \"credentials\":{  \n        \"type\":\"...\",\n        \"identity\":\"...\",\n        \"secret\":\"...\"\n      },\n      \"contact\":{  \n        \"email\":\"...\"\n      },\n      \"createdEpochMillis\":1538146602440,\n      \"lastUpdatedEpochMillis\":1538146602440\n    }\n  ]\n}\n\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  https://api.app.lithium.com/bots/v3/registrations/network/apple/externalId/117101b2-e66a-11e7-86ec-b1a405106b73 \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/registrations/network/{networkKey}/externalId/{externalId}/appId/{appId}": {
      "get": {
        "summary": "Get bot registration details",
        "description": "Retrieve registration details about an existing bot registered with the Automation Framework",
        "operationId": "networknetworkkeyexternalidexternalidappidappid-get",
        "parameters": [
          {
            "name": "networkKey",
            "in": "path",
            "description": "The source network for the registration. Must match the `networkKey` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the bot on the source network. Must match the `externalId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "appId",
            "in": "path",
            "description": "The internal identifier for the bot used by Khoros. Must match the `appId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 200 OK\n{  \n  \"data\":{  \n    \"platform\":\"LITHIUM\",\n    \"companyKey\":\"...\",\n    \"networkKey\":\"facebook\",\n    \"networkInstance\":\"www.facebook.com\",\n    \"externalId\":\"...\",\n    \"appId\":\"some-bot-that-doesn\u2019t-exist\",\n    \"name\":\"simple bot\",\n    \"callbackUrl\":\"https://www.example.com/bot\",\n    \"mode\":\"LIVE\",\n    \"publicFilter\":{  \n      \"includeTargeted\":true,\n      \"includeSourceTagIds\":[  \n        999,\n        1002\n      ]\n    },\n    \"credentials\":{  \n      \"type\":\"...\",\n      \"identity\":\"...\",\n      \"secret\":\"...\"\n    },\n    \"contact\":{  \n      \"email\":\"...\"\n    },\n    \"createdEpochMillis\":1538146602440,\n    \"lastUpdatedEpochMillis\":1538146602440\n  }\n}\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 404 Not Found\n{\n\t\"error\": {\n\t\t\"message\": \"No bot registration found\"\n\t}\n}\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  https://api.app.lithium.com/bots/v3/registations/network/apple/externalId/117101b2-e66a-11e7-86ec-b1a405106b73/appId/abc-bot \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Delete bot registration",
        "description": "Delete a bot registration from the Automation Framework",
        "operationId": "registrations-delete",
        "parameters": [
          {
            "name": "networkKey",
            "in": "path",
            "description": "The social network for the registration. Must match the `networkKey` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the bot on the social network. Must match the `externalId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "appId",
            "in": "path",
            "description": "The internal identifier for the bot used by Khoros. Must match the `appId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 204 No Content"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 500 Internal Server Error\n{\n    \"errors\": [\n        \"Unable to delete registration\"\n    ]\n}\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl DELETE \\\n  https://api.app.lithium.com/bots/v3/registrations/network/apple/externalId/117101b2-e66a-11e7-86ec-b1a405106b73/appId/abc-bot \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/request/{requestId}": {
      "get": {
        "summary": "Monitor request to Bot v3 API",
        "description": "Monitor a specific request to the Bot v3 API",
        "operationId": "requestrequestid",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "A string. The ID of a known request record received from a previous HTTP request. Do not expect any particular format for the ID.<br><br>Find request IDs in a callback request header and a response header named `x-amzn-RequestId`. You may note the ID and ask for information about the status of certain kinds of requests by using the `/request/[requestId}` endpoint.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{  \n  \"data\":{  \n    \"id\":\"03a913a3-552e-4e2a-8d23-d1e5257474bc\",\n    \"companyKey\":\"mycompany\",\n    \"externalId\":\"9876543211234567\",\n    \"networkKey\":\"facebook\",\n    \"appId\":\"company-bot\",\n    \"callbackUrl\":\"https://www.example.com/receive\",\n    \"origin\":\"BOT\",\n    \"details\":<map of details relevant to the request>,\n    \"state\":\"PENDING\",\n    \"payload\":<json payload given to or taken from bot>,\n    \"createdEpochMillis\":1551757370603,\n    \"completedEpochMillis\":1551757370707,\n    \"lastUpdatedEpochMillis\":1551757370707\n  }\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 404 Not Found{  \n  \"error\":{  \n    \"messages\":[  \n      \"03a913a3-552e-4e2a-8d23-d1e5257474b not found\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  https://api.app.lithium.com/bots/v3/request/03a913a3-552e-4e2a-8d23-d1e5257474b \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/request/appId/{appId})/": {
      "get": {
        "summary": "Monitor requests by date range, state, and origin",
        "description": "Monitor requests to the Bot v3 API by date range, state, and origin",
        "operationId": "requestappidappid",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The bot identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "from",
            "in": "query",
            "description": "A string of the form \u201c<quantity><unit>\u201d indicating how far in the past to look for recent request records. For example: \u201c30m\u201d, \u201c2h\u201d, \"3d\u201d representing \u201c30 minutes\u201d, \u201c2 hours\u201d, or \u201c3 days\u201d, respectively.<br><br>Defaults to 1 day.<br><br>31 days is the current maximum",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "A string indicating the state of the requests to return.<br><br>No default: if unspecified, all records from the period are returned.<br><br>Supported values: ERROR, PENDING, or SUCCESS<br><br>You may specify this parameter multiple times, as in: `/bots/v3/request/appId/mybot?from=6h&state=PENDING&state=ERROR`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Optional. A string indicating that the query should return only request records of the specified origin.<br><br>Possible values are KHOROS or BOT<br><br>Khoros-originated records are those requests the bot framework made to your bot.<br><br>Bot-originated records are those requests your bot made to the bot framework.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{  \n  \"data\":[  \n    {  \n      \"id\":\"5f153108725b404b9aca71a4a5e17cb4\",\n      \"companyKey\":\"myco\",\n      \"externalId\":\"987654321234567890\",\n      \"networkKey\":\"facebook\",\n      \"appId\":\"myco-bot\",\n      \"callbackUrl\":\"https://www.example.com/receive\",\n      \"origin\":\"BOT\",\n      \"state\":\"PENDING\",\n      \"createdEpochMillis\":1551757840916,\n      \"completedEpochMillis\":1551757841000,\n      \"lastUpdatedEpochMillis\":1551757841000,\n      \"payload\":\"{\\\"coordinate\\\":{\\\"companyKey\\\":\\\"myco\\\",\\\"networkKey\\\":\\\"facebook\\\",\\\"externalId\\\":\\\"987654321234567890\\\",\\\"messageId\\\":\\\"superSpecialMessageId\\\",\\\"botId\\\":\\\"myco-bot\\\",\\\"scope\\\":\\\"PRIVATE\\\"},\\\"text\\\":\\\"I have a question that I need help with.\\\",\\\"author\\\":{\\\"id\\\":\\\"superSpecialAuthorId\\\",\\\"fullName\\\":\\\"Anonymous Coyote 2380\\\",\\\"properties\\\":{}},\\\"owner\\\":{\\\"type\\\":\\\"BOT\\\",\\\"appId\\\":\\\"myco-bot\\\"},\\\"publishedTS\\\":1555336064223,\\\"receivedTS\\\":1555336066071,\\\"properties\\\":{},\\\"type\\\":\\\"message\\\"}\"\n    },\n    {  \n      \"id\":\"c3e3c2570130410eadf7a04881dfbfe9\",\n      \"companyKey\":\"myco\",\n      \"externalId\":\"987654321234567890\",\n      \"networkKey\":\"facebook\",\n      \"appId\":\"myco-bot\",\n      \"callbackUrl\":\"https://www.example.com/receive\",\n      \"origin\":\"KHOROS\",\n      \"details\":{  \n        \"code\":\"403\",\n        \"message\":\"Forbidden\"\n      },\n      \"state\":\"ERROR\",\n      \"createdEpochMillis\":1551758199555,\n      \"completedEpochMillis\":1551758200801,\n      \"lastUpdatedEpochMillis\":1551758200804,\n      \"payload\":\"{... the json blob that Khoros sent to your bot ...}\"\n    }\n  ]\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5f153108725b404b9aca71a4a5e17cb4"
                          },
                          "companyKey": {
                            "type": "string",
                            "example": "myco"
                          },
                          "externalId": {
                            "type": "string",
                            "example": "987654321234567890"
                          },
                          "networkKey": {
                            "type": "string",
                            "example": "facebook"
                          },
                          "appId": {
                            "type": "string",
                            "example": "myco-bot"
                          },
                          "callbackUrl": {
                            "type": "string",
                            "example": "https://www.example.com/receive"
                          },
                          "origin": {
                            "type": "string",
                            "example": "BOT"
                          },
                          "state": {
                            "type": "string",
                            "example": "PENDING"
                          },
                          "createdEpochMillis": {
                            "type": "integer",
                            "example": 1551757840916,
                            "default": 0
                          },
                          "completedEpochMillis": {
                            "type": "integer",
                            "example": 1551757841000,
                            "default": 0
                          },
                          "lastUpdatedEpochMillis": {
                            "type": "integer",
                            "example": 1551757841000,
                            "default": 0
                          },
                          "payload": {
                            "type": "string",
                            "example": "{\"coordinate\":{\"companyKey\":\"myco\",\"networkKey\":\"facebook\",\"externalId\":\"987654321234567890\",\"messageId\":\"superSpecialMessageId\",\"botId\":\"myco-bot\",\"scope\":\"PRIVATE\"},\"text\":\"I have a question that I need help with.\",\"author\":{\"id\":\"superSpecialAuthorId\",\"fullName\":\"Anonymous Coyote 2380\",\"properties\":{}},\"owner\":{\"type\":\"BOT\",\"appId\":\"myco-bot\"},\"publishedTS\":1555336064223,\"receivedTS\":1555336066071,\"properties\":{},\"type\":\"message\"}"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Incorrect syntax in \\\"from\\\"\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl GET \\\n  \"https://api.app.lithium.com/bots/v3/request/appId/mybot?from=12h\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/respond": {
      "post": {
        "summary": "Respond to incoming message (bot to channel)",
        "description": "Respond to an incoming message (bot to channel)",
        "operationId": "respond-post",
        "parameters": [
          {
            "name": "charset",
            "in": "header",
            "description": "Add `charset=utf-8` if emoji support is required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A outgoing Message JSON payload (bot to channel). See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\":\n    {\n        \"messageId\": \"1315739291251000000\",\n        \"payloadType\": \"message\",\n        \"requestState\": \"SUCCESS\"\n    },\n    \"requestId\": \"example1-f0b0-4dbb-8b6d-c82192c2054a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "messageId": {
                          "type": "string",
                          "example": "1315739291251000000"
                        },
                        "payloadType": {
                          "type": "string",
                          "example": "message"
                        },
                        "requestState": {
                          "type": "string",
                          "example": "SUCCESS"
                        }
                      }
                    },
                    "requestId": {
                      "type": "string",
                      "example": "example1-f0b0-4dbb-8b6d-c82192c2054a"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}\n"
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 403 Forbidden{  \n  \"error\":{  \n    \"messages\":[  \n      \"This bot doesn't own the conversation <message coordinates>\"\n    ]\n  },\n  \"requestId\":\"some id\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl POST \\\n  https://api.app.lithium.com/bots/v3/respond \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/authors/attributes": {
      "put": {
        "summary": "Update author's attributes",
        "description": "Use the Bot v3 API to have the bot update both the author CRM attributes and author attributes",
        "operationId": "author-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "An `author` JSON payload. See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/authors/attributes \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/authors/attributes (COPY)": {
      "put": {
        "summary": "Update author metadata",
        "description": "Use the Bot v3 API to have the bot update author metadata properties",
        "operationId": "authors-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "An `author properties` JSON payload. See payload details above.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/authors/attributes \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/control": {
      "put": {
        "summary": "Pass conversation control",
        "description": "Pass conversation control",
        "operationId": "control-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `control` JSON payload. See payload details below."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 200 OK{  \n  \"data\":{  \n    \"type\":\"control\",\n    \"owner\":{  \n      \"type\":\"AGENT\"\n    },\n    \"author\":{  \n      \"id\":\"urn:mbid:....\",\n      \"fullName\":\"Anonymous Alligator\"\n    },\n    \"coordinate\":{  \n      \"companyKey\":\"[COMPANY KEY]\",\n      \"networkKey\":\"apple\",\n      \"externalId\":\"117101b2-e66a-11e7-86ec-b1a405106b73\",\n      \"messageId\":\"b7bee35c-0cfc-4de9-8a88-9b444d7b0475\",\n      \"botId\":\"my-abc-bot\",\n      \"scope\":\"PRIVATE\"\n    },\n    \"conversationDisplayId\":\"<conversationDisplayId>\",\n    \"lastUpdateTS\":\"<last-message-update-timestamp>\"\n  }\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"requestId\": \"requestId\",\n  \"error\": {\n    \"messages\": [\n      \"A (possibly transient) conflict occurred. No change was made. This request may be retried.\"\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "example": "requestId"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "A (possibly transient) conflict occurred. No change was made. This request may be retried."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/control \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n \t-H \"Authorization: Bearer [TOKEN]\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/note": {
      "put": {
        "summary": "Add internal note to bot conversation",
        "description": "Attach an internal note to the current bot conversation",
        "operationId": "note-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `note` JSON payload. See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/note \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/priority": {
      "put": {
        "summary": "Change conversation priority",
        "description": "Use the Bot v3 API to change the conversation priority",
        "operationId": "priority-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `priority` JSON payload. See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/priority \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/registrations/network/{networkKey}/externalId/{externalId}/appId/{appId}/mode/{mode}": {
      "put": {
        "summary": "Change bot operating mode",
        "description": "Change a bot's operating mode",
        "operationId": "registrationsnetworknetworkkeyexternalidexternalidappidappidmodemode-put",
        "parameters": [
          {
            "name": "networkKey",
            "in": "path",
            "description": "The social network for the registration. Must match the `networkKey` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "The external identifier of the bot on the social network. Must match the `externalId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "appId",
            "in": "path",
            "description": "The internal identifier for the bot used by Khoros. Must match the `appId` field of the bot registration.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "mode",
            "in": "path",
            "description": "The operating mode of the bot: LIVE or MAINTENANCE.<br><br>LIVE: The normal operating mode. All events are forwarded to the Bot Server via webhooks, and the bot can take any supported action. Only one LIVE bot can be supported on a specific network/externalId at one time.<br><br>MAINTENANCE:  No events are sent via webhooks. Any customer messages that arrive while in this mode are explicitly handed off to an AGENT, so that when the bot returns from MAINTENANCE mode, the bot will not start answering conversations already in progress. (MAINTENANCE is equivalent to deprecated \"maintenanceMode\u201d: true state.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request\n{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid mode: liev\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 404 Not Found\n{  \n  \"error\":{  \n    \"messages\":[  \n      \"No such bot myfirstbot for company doghotel network facebook external id 12345678901234\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/registrations/network/apple/externalId/117101b2-e66a-11e7-86ec-b1a405106b73/appId/abc-bot/mode/maintenance \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/resolve": {
      "put": {
        "summary": "Mark conversation resolved",
        "description": "Have a bot mark a conversation as resolved using the Bot v3 API",
        "operationId": "resolve-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `resolve` JSON payload. See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/resolve \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/tag": {
      "put": {
        "summary": "Tag message by Care tag ID",
        "description": "Use the Bot v3 API to tag a specific message with an existing Care tag ID.",
        "operationId": "tag-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `tag` JSON payload. See below for payload details.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Invalid networkKey farcebook\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/tag \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n",
              "name": "curl"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/tag/remove": {
      "put": {
        "summary": "Untag message by Care tag ID",
        "description": "Use the Bot v3 API to untag a specific message with an existing Care tag ID.",
        "operationId": "untag-message-by-care-tag-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `tag` JSON payload. See below for payload details.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"Unable to process tag remove request\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/tag/remove \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/tokens/appId/{appId}": {
      "put": {
        "summary": "Refresh JWT",
        "description": "Refresh the JWT used to authenticate calls to the Bot v3 API",
        "operationId": "tokensappid-put",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The `appId` of the bot defined in the bot registration",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"token\": \"[NEW TOKEN]\",\n    \"expiresAtMillis\": 1560276824632\n  },\n  \"requestId\": \"bcefbedf-45bb-11e9-b37c-1b28a88f8a21\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "[NEW TOKEN]"
                        },
                        "expiresAtMillis": {
                          "type": "integer",
                          "example": 1560276824632,
                          "default": 0
                        }
                      }
                    },
                    "requestId": {
                      "type": "string",
                      "example": "bcefbedf-45bb-11e9-b37c-1b28a88f8a21"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"Unauthorized\",\n    \"requestId\": \"d3cf183a-4f30-11e9-bc72-cd9609519b63\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Unauthorized"
                        },
                        "requestId": {
                          "type": "string",
                          "example": "d3cf183a-4f30-11e9-bc72-cd9609519b63"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \\\n  https://api.app.lithium.com/bots/v3/tokens/appId/appId \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN TO BE REFRESHED]\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Invalidate JWT",
        "description": "Invalidate the JWT used to authenticate calls to the Bot v3 API",
        "operationId": "tokensappid-delete",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The `appId` of the bot as defined in the bot registration",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE \\\n  https://api.app.lithium.com/bots/v3/tokens/appId/appID \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/workqueue": {
      "put": {
        "summary": "Move conversation to specified workqueue",
        "description": "Use the Bot v3 API to have a bot move a conversation to a specific workqueue",
        "operationId": "workqueue-put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "A `workqueue` JSON payload. See payload details below.",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 400 Bad Request{  \n  \"error\":{  \n    \"messages\":[  \n      \"newWorkQueue may not be null\"\n    ]\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl PUT \\\n  https://api.app.lithium.com/bots/v3/workqueue \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\"\n"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/form": {
      "post": {
        "summary": "Send a bot response with a secure form",
        "description": "Send a secure form as a bot response.",
        "operationId": "send-a-bot-response-with-a-secure-form",
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP/1.1 202 Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl POST \\\n  https://api.app.lithium.com/bots/v3/form \\\n  --data @/path/to/payload.json \\\n  -H \"Content-type: application/json; charset=utf-8\" \\\n  -H \"Authorization: Bearer [TOKEN]\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "Authorization",
        "value": "Bearer [TOKEN]"
      },
      {
        "key": "Content-type",
        "value": "application/json; charset=utf-8"
      }
    ],
    "explorer-enabled": false,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}